<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <div th:include="public/css"></div>
</head>
<body>
    <form class="search layui-form" onsubmit="return false;">
        命令：
        <div class="layui-inline">
            <input class="layui-input" name="cmd" id="cmd" placeholder="模糊查询" autocomplete="off">
        </div>
        任务id：
        <div class="layui-inline">
            <input class="layui-input" type="number" name="ct_id" th:value="${ctId}" id="ct_id" autocomplete="off" >
        </div>
        <button class="layui-btn" data-type="reload">搜索</button>
    </form>
    <table class="layui-hide" id="datas" lay-filter="table1"></table>
</body>
<div th:include="public/js"></div>


<script>
    layui.use(['table','form'], function(){
        var table = layui.table,form = layui.form;

        var url = "/CronTaskLog/lists";
        var ctId = layui.$('#ct_id').val();
        if(ctId && ctId > 0){
            url = url + "?ctId=" + ctId;
        }
        table.render({
            elem: '#datas'
            ,cellMinWidth: 80
            ,url:url
            ,cols: [ [
                {field:'ctId',width:80,  title: '任务ID'}
                ,{field:'cateName',width:100,  title: '分类名称'}
                ,{field:'remark',width:250, title: '备注'}
                ,{field:'serverUrl', title: '服务器地址'}
                ,{field:'serverPath', title: '请求路径'}
                ,{field:'serverMethod', title: '请求方式'}
                ,{field:'serverParameter', title: '请求参数'}
                ,{field:'createTime',width:170, title: '执行时间', align:'center'}
                ,{field:'serverStatus', title: '运行结果', align:'center'}
                ,{field:'spendTime', title: '耗时', align:'center',width:180,
                    templet:function(d){
                        return d.spendTime + ' 秒';
                    }}
            ] ],
            id:'search',
            page:true
        });

        var $ = layui.$, active = {
            reload: function(){
                //执行重载
                table.reload('search', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        ctId : $('#ct_id').val(),
                        cmd : $('#cmd').val()
                    }

                });
            }
        };

        $('.search .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });


    });
</script>
</html>