<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.etc.mapper.SettingMapper">


    <update id="updateValueById" parameterType="com.etc.entity.Setting">
         update jt_setting set value=#{value} where id=#{id}
    </update>




</mapper>